a:hover, a:focus{
    outline: none;
    text-decoration: none;
}
#accordion .panel{
    box-shadow: none;
    border: none;
    border-radius:0;
    margin-bottom: 6px;
    border-left:5px solid #944f95;
}
#accordion .panel-heading{
    padding:0;
    background-color:#fff;
}
#accordion .panel-title a{
    display: block;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 40px;
    background: #f5f5f5;
    text-transform: uppercase;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
}
#accordion .panel-title a.collapsed{
    border-top: 0;
    color: #333;
    background: #eee;
    border-bottom:1px solid transparent;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f068";
    font-family: FontAwesome;
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #944f95;
}
#accordion .panel-title a.collapsed:before{
    content: "\f067";
}
#accordion .panel-body{
    color: #666464;
    font-size: 14px;
    line-height: 20px;
    border-top: 0 none;
    background: #eee;
    padding: 15px 27px;
}